/**
 * Variables.
 *
 * Neutral and Brand Colors for use across theme must be described here.
 */

$brand-clear: #FFFFFF;

$brand-primary: #515CED;

$brand-success: #00CD57;
$brand-default: #F1F2F9;

$brand-neutral: #C8D0DD;
$brand-neutral-hover: #D8E4FC;
$brand-neutral-hover-border: #8FBBFA;

$brand-neutral-dark: #F8F9FC;

$brand-font: #41537C;