<div class="table-responsive">
    <table
        class="table table-hover table-bordered v-middle car-list"
        at-table
        at-paginated
        at-list="filteredItems"
        at-config="config"
    >
        <thead>
            <tr>
                <th at-attribute="checkbox">
                    <span class="input">
                        <input
                            type="checkbox"
                            value=""
                            id="checkbox-all"
                            ng-model="list.selectAll"
                            ng-change=toggleCheckboxes(list.selectAll)
                        />
                        <label class="checkbox" for="checkbox-all"></label>
                    </span>
                </th>
            </tr>
            <tr>
                <th at-attribute="valor" class="text-right">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-square" at-attribute="checkbox" at-title="">
                    <span class="input">
                        <input
                            type="checkbox"
                            value=""
                            id="checkbox-{{ $index }}"
                            ng-model="item.selected"
                        />
                        <label class="checkbox" for="checkbox-{{ $index }}"></label>
                    </span>
                </td>
                <td at-attribute="placa" at-title="Placa">{{ item.placa|carPlateView }}</td>
                <td at-attribute="modelo" at-title="Modelo">{{ item.modelo }}</td>
                <td at-attribute="marca" at-title="Marca">{{ item.marca }}</td>
                <td at-attribute="imagem" at-title="Foto">
                    <a href="#" ng-if="item.imagem" data-ng-click="showImage(item)">Imagem</a>
                    <span ng-if="!item.imagem">Sem foto</span>
                </td>
                <td at-attribute="combustivel"  at-title="Combustível">{{ item.combustivel }}</td>
                <td at-attribute="valor" at-title="Valor" class="text-right">{{ item.valor|currency:'R$ ' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center">
    <at-pagination at-list="filteredItems" at-config="config"></at-pagination>
</div>