<div class="panel panel-default">
    <div class="panel-body">

        <form class="form" ng-submit="formCtrl.persist(formCtrl.car)">
            <fieldset>

                <legend>Novo Carro</legend>

                <div class="form-group">
                    <label for="placa" class="control-label">Placa</label>
                    <input type="text" class="form-control" id="placa" placeholder="Número da placa" required data-ng-model="formCtrl.car.placa" ui-br-car-plate-mask>
                </div>

                <div class="form-group">
                    <label for="modelo" class="control-label">Modelo</label>
                    <input type="text" class="form-control" id="modelo" placeholder="Nome do Modelo" required data-ng-model="formCtrl.car.modelo">
                </div>

                <div class="form-group">
                    <label for="marca" class="control-label">Marca</label>
                    <input type="text" class="form-control" id="marca" placeholder="Nome da Marca" required data-ng-model="formCtrl.car.marca">
                </div>

                <div class="form-group">
                    <label for="imagem" class="control-label">Foto</label>
                    <input type="text" class="form-control" id="imagem" placeholder="Url da imagem" data-ng-model="formCtrl.car.imagem">
                </div>

                <div class="form-group">
                    <label for="valor" class="control-label">Valor</label>
                    <input type="text" class="form-control" id="valor" placeholder="Valor do Veículo" data-ng-model="formCtrl.car.valor" ui-money-mask>
                </div>

                <div class="form-group">
                    <label for="combustivel" class="control-label">Combustível</label>
                    <select
                        type="text"
                        class="form-control"
                        id="combustivel"
                        data-ng-model="formCtrl.car.combustivel"
                        ng-options="fuel as fuel for fuel in fuelList"
                    >
                        <option value="">Selecione um Combustível</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-5 col-md-2">
                            <a href="#" ng-click="formCtrl.cancel()" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                        <div class="col-xs-7 col-md-10">
                            <button type="submit" class="btn btn-success btn-block">Confirmar</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>